doctype html
html
    head
        title #{title} - HTMLListMaker
        block styles
            link(rel='icon', type='image/png', href='/images/favicon.svg')
            link(rel='stylesheet',type='text/css', href='/stylesheets/style.css')
            
    body
        block content
        block footer
        block javascripts
