doctype html
html
    head
        title #{title}HTMLListMaker
        block styles
            meta(name="google-site-verification", content="IRyitt7NJSQL8Slo6kXhlH5qQyni0xZzsZ6ULXO-MWw")
            meta(name="description", content="Convert your *.txt and *.csv file into HTML select and datalist elements")
            meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
            meta(name='viewport', content='width=device-width,initial-scale=1')
            link(rel='icon', type='image/png', href='/images/favicon.png')
            link(rel='stylesheet',type='text/css', href='/stylesheets/style.css')
            link(rel="canonical", href="https://htmllistmaker.herokuapp.com/")
            
    body
        block content
        block footer        
            footer(class='footer') &copy; 
                a(href="https://www.linkedin.com/in/otunuyahenryc/" class="colour-link" target="_blank") Ótunuya 
                | (2021)
        block javascripts
