*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(0, 136, 170, 0.801) ;
}
#wrapper{
  display: grid;
  gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header header"
                      "indeximagebox indeximagebox"
                      "inputform codebox"
                      "footer footer";
}
a {
  color: #000;
  text-decoration: none;
}
.header{  
  border-top-width: 0.3em;
  border-top-style: solid;
  border-top-color: #ff9751;
  padding: 10px;
  padding-left: 20px;
  height: 5em;
  min-width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 15px black;
  
  grid-area: header;
}
#indexImageBox{
  margin: auto;
  background-color: #e281f5;
  text-align: center;
  padding-bottom: 1em;
  align-content: center;
  justify-content: center;
  grid-area: indeximagebox;
  width: 100%;
}
#indexImageBox:before{
  content: "";
  position: absolute;
  top:42.5em;
  z-index:2;
  border: solid 50px transparent;
  border-top-color: #e281f5;
}
#indexImage{
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1.5em;
  justify-content: center;
  border-top-color: #c60deb;
}
#indexMsg{
 font-size:2.5em;
 font-weight: bolder;
 font-family: 'Lucida Fax';
 color: #fff;
 text-shadow: #000 2px 0 2px;
 border-top-width: .02em;
 border-top-color: #f00;
 border-top-style: dashed;
}
/* Styling the form and its children */
#theForm{
  /*float: left;*/
  margin-left: 4em;
  padding: 1em;
  padding-top: 3em;
  grid-area: inputform;
}
.codeBox{
  float: right; 
  font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  color: #faa202;
  background-color: #111;
  min-height: 25em;
  padding: 0.5em;
  resize: none;
  grid-area: codebox;
  width: 92.5%;
}

#fileUploadBox{  
/* width: 30em;
 height: 12em;*/
 font-size:1.2em;
 color: rgb(255, 255, 255);
 z-index: 2;
}
#fileUploadBox:hover{ 
  cursor: pointer;
}
.buttonBox .radioLabel{
  font-size: 1.2em;
  font-family: cursive;
  width: 9em;
  display: inline-block;
 color: rgb(255, 255, 255);
}
.buttonBox input[type='radio']{
  font-size: 5em;
}
#fUBHidder{
  /*
position: absolute;
 font-size: 1.2em;
 font-weight: bolder;
 border: solid 2px black ;
 text-align: center;
 padding-top: 0;
  width: 22em;
 height: 10em;
 cursor: wait;
box-shadow:2px 2px 25px rgb(39, 23, 2); */
}

.bttnConvert{
  cursor: pointer;
}
.font-2em{
  font-size: 2em;
}
.font-1p5em{
  font-size: 1.5em;
}
.font-1p7em{
  font-size: 1.7em;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.display-inline{
  display: inline;
}
.padding-0p5em{
  padding: 0.5em;
}
.padding-1em{
  padding: 1em;
}
.padding-top-5em{  
  padding-top: 5em;  
}
.padding-bottom-5em{  
  padding-bottom: 5em;  
}
.margin-top-10px{
  margin-top: 10px;
}
.bttnCopy{
  cursor: copy;
}
.width-7em{
  width: 7em;
}
.height-5em{
  height: 5em;
}
/*----- End form styling ----- */
/*---------------------- For buttons ------------------------*/
.bttn{
  box-shadow:1px 1px 5px #444;
  color:rgb(255, 255, 255);
  background-color:rgb(6, 187, 90);
  border:none;
  border-radius: 5px;
  font-family: monospace;
}
.bttn:hover{
  background-color:rgba(10,200,100,.7);
}
.bttn[disabled='disabled']{
  cursor: not-allowed;
}
/*----------------------------------------------------------*/

/**-------- Info headers -----------*/
#infoHeader1{
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-block;
  margin-bottom: .7em;
  width: auto;
  padding: .2em;
  background-color: rgb(253, 147, 108);
}
#infoHeader2{
  font-size: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-block;
  margin-top: .3em;
  margin-bottom: .2em;
  width: auto;
  padding: .2em;
  background-color: rgb(253, 147, 108);
}
/*-------- End Info headers -----------*/
/*--------- Copy response ----------- */
#copyResponse{
  font-size: 1em;
  width: 32%;
  background-color: rgb(37, 248, 255);
  font-family: 'Lucida Fax';
  margin-top: .5em;
  padding: .5em;
  border-radius: 1em;
  display: block ;
}
/*--------- End Copy response ----------- */
.footer{
  margin-top: .4em;
  grid-area: footer;
  height: 3.5em;
  padding: 1em;
  text-align: center;
  background-color: #fff;
  
  border-top-width: 0.3em;
  border-top-style: solid;
  border-top-color: #ff9751;
}

/* -- For the error page -- */
.mainMsg{
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 10em;
  background-color: #fff;
  width: 95%;
  font-size: 2.5em;
  padding: .2em;
  text-align: center;
}
.mainMsg h2{  
  font-size: 1.5em;
}
.homelink{
  margin: 0 auto;
  margin-top: 2em;
  padding: .5em;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  width: 95%;
  color: #f00;
  background-color: #fff;
}
.homelink a{
  text-decoration: none;
  color: rgb(7, 132, 216);
}
/* -- End error page -- */
.mainHeaderText{
  font-size: 1.5em;
}
.margin-l-1em{
  margin-left: 1em;
}
.margin-t-p5em{
  margin-top: .5em;
}
.pos-absolute{  
  position: absolute;
}
.display-inline{
  display: inline;
}
.display-block{
  display: block;
}
.colour-link{
  color: #0694f3;
}
.fade{
  opacity: 0;
}
.appear{
  opacity: 1;
}
